{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations: {}
  name: sd
spec:
  rules:
    {{- if .Values.automatic1111.enabled }}
    - host: {{ .Values.ingress.automatic1111Host}}
      http:
        paths:
          - backend:
              service:
                name: sd
                port:
                  number: 8080
            path: /
            pathType: Prefix
    {{- end }}
    {{- if .Values.comfy.enabled }}
    - host: {{ .Values.ingress.comfyHost }}
      http:
        paths:
          - backend:
              service:
                name: sd
                port:
                  number: 8081
            path: /
            pathType: Prefix
    {{- end }}
{{- end }}