apiVersion: v1
kind: Service
metadata:
  name: sd
spec:
  ports:
    {{- if .Values.automatic1111.enabled }}
    - name: automatic1111
      port: 8080
      protocol: TCP
      targetPort: 8080
    {{- end}}
    {{- if .Values.comfy.enabled }}
    - name: comfy
      port: 8081
      protocol: TCP
      targetPort: 8081
    {{- end}}
  selector:
    app: app.stablediffusion
  sessionAffinity: None
  type: {{ .Values.service.type }}