models:
  image: harbor.atoy.dev/public/stablediffusion/download:latest
  # volumeType: hostPath
  # hostPath:
  #   localDirectory: /sd-data
  pvcName: pvc-sd-data
  reclaimPolicy: Retain
  capacity: 50Gi
  storageClass: ''
  pullPolicy: IfNotPresent

service:
  type: ClusterIP

ingress:
  enabled: true
  automatic1111Host: automatic1111.atoy.lol
  comfyHost: comfy.atoy.lol

comfy:
  image: harbor.atoy.dev/public/stablediffusion/comfy:latest
  enabled: true
  cli_args: 
  - --port
  - "8081"
automatic1111:
  image: harbor.atoy.dev/public/stablediffusion/automatic1111:latest
  enabled: true
  cli_args: 
  - --port 
  - "8080"

useCpu: true